<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/javaselinium/practice/src/main/resources">
       <classes>
           <class name="github">
               <methods>
                   <include name="login"/>
                   <include name="search"/>

               </methods>
           </class>
       </classes>
    </test>
</suite>
